// Import Bootstrap and custom styles
@import "~bootstrap/scss/bootstrap";

// Base styles
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

// Container styles
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

// Header section styles
header {
    background-color: #161616 !important;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: inline-block;
    text-align: center;
}

.header-container {
    height: 40px;
    width: auto;
}

.header-container .header-title {
    margin: 0;
    font-size: 2rem;
}

.logo {
    width: 250px;
}

// Buttons
.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.btn-primary-header {
    background-color: #020202 !important;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

// Article List Styles
.article-item {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 16px;

    .article-image-container {
        width: 160px;
        height: 160px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ddd;
        cursor: pointer;
    }

    .article-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-content {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .article-title {
        font-size: 1.25rem;
        margin: 0 0 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .article-description-container {
        position: relative;
        overflow: hidden;
        max-height: 4.5em; // Height to fit 3 lines of text
    }

    .article-description {
        font-size: 1rem;
        color: #666;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow-wrap: break-word;
    }

    // Hover effect to show full text
    .article-description-container:hover .article-description {
        max-height: none;
        overflow: visible;
        white-space: normal;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        right: 0;
    }

    .article-buttons {
        margin-top: 16px;
    }

    .image-link {
        display: block;

        &:hover .article-image {
            opacity: 0.8;
        }
    }
}

// Modal Styles
.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// Toast Styles
.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 1050;
}

.toast {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-body {
    flex: 1;
    padding: 1rem;
}

.toast.show {
    opacity: 1;
}

.btn-close {
    position: absolute;
    top: 13px;
    right: 0.6rem;
    color: #fff;
    border: none;
    font-size: 15px;
    opacity: 0.7;
    z-index: 1060;
}

.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}

// Pagination Styles
.pagination-container {
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        margin: 0;

        .page-item {
            margin: 0 2px;

            .page-link {
                display: block;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                color: #007bff;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #e9ecef;
                }
            }

            &.active .page-link {
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }
        }
    }
}

// Loader Styles
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Overlay Styles
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}
